<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Proyectos" connectionString="server=DESKTOP-4C259AI; initial catalog = Proyectos; user id=userr;password=Bogota2022+;" />
	</connectionStrings>
	<appSettings>
		<add key="Usuario" value="x" />
		<add key="Pass" value="x" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>